
Django==4.2.18
django_allauth==65.3.1
python-dotenv==1.0.1
psycopg2-binary
requests
pyjwt
cryptography
pillow

# docker cp school_db_dump.sql <container_name>:/tmp/school_db_dump.sql
# docker exec -it <container_name> bash
# psql -U postgres_user -d school_db -f /tmp/school_db_dump.sql
# docker exec -t postgres_container pg_dump -U postgres my_database -f /tmp/backup.sql