
{% extends "school/base.html" %}

{% block content %}

<div class="container-lg">
   <h1>Teacher Dashboard</h1>
   <hr>
   <p>Welcome, {{ user.username }}!</p>
   
   <div>
       <strong>Email:</strong> {{ user.email }}
   </div><br>
   <div>
        <strong>Class:</strong> {{ teacher_class.classes }} 
    </div><br>
    <div>
        <strong>Subject:</strong> {{ teacher_subject }} 
    </div><br>
   <div>
        <strong>Attendance:</strong> {{ user_profile.attendance_count }}
    </div><br>
   
   <div>
       <strong>Profile Picture:</strong>
       {% if user_profile.profile_picture %}
           <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" width="100" height="100">
       {% else %}
           <p>No profile picture set.</p>
       {% endif %}
   </div><br>

   <h2>Update Profile Picture</h2><br>
   <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       <label for="profile_picture">Choose a profile picture:</label>
       <input type="file" name="profile_picture" id="profile_picture" accept="image/*">
       <button type="submit">Upload</button>
   </form>
   <br>
   <a class="btn btn-primary" href="{% url 'teacher-dash' %}" role="button">Back</a>
</div>
{% endblock %}
